.textlabel {
  color: black;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.3em;
}

.textlabeldanger {
  color: red;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.3em;
}

.textcontent {
  color: black;
  font-size: 1em;
  margin-bottom: 0;
  line-height: 1.3em;
}

.urlcontent {
  color: #428bca;
  font-size: 1em;
  margin-bottom: 0;
  line-height: 1.3em;
}

.multitextcontent {
  color: black;
  font-size: 1em;
  margin-bottom: 5px;
  line-height: 1.3em;
}

.multitextcontentdanger {
  color: red;
  font-style: italic;
  font-size: 1em;
  margin-bottom: 5px;
  line-height: 1.3em;
}

.vcenter::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
