/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 250px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;

  &.active {
    width: 100%;
  }

  .wrapper {
    padding: 10px 10px 12px 10px;
  }

  .base-content {
    background-color: $base-white;
    border-radius: 4px;
    width: 100%;
    min-height: 75vh; // just for testing
    overflow: auto;

    .grouptext {
      color: black;
      font-size: 1.25em;
      font-weight: bold;
      margin-top: 3em !important;
      margin-bottom: 1em;
    }

    .title-group {
      color: black;
      font-size: 1.25em;
      font-weight: bold;
    }
    .spacing-group {
      margin-top: 3em !important;
      margin-bottom: 1em;
    }

    .btn-custom {
      font-weight: bold;
      font-size: 1em;
      min-width: 127px;
      min-height: 48px;
      &.btn-primary-custom {
        background-color: $base-red;
        color: $base-white;

        &:hover {
          background-color: $base-red-hover;
        }
      }
      &.btn-secondary-custom {
        background-color: $gray1;
        color: $black1;
      }
    }

    .submit-area {
      margin-top: 3em;
      margin-bottom: 3em;
    }

    .meev-input-list {
      .header-list {
        border-radius: 5px;
        background-color: $gray1;
        padding: 5px 20px;

        .column-list {
          font-weight: bold;
          font-size: 1em;
          line-height: 1.8em;
        }
      }

      .row-list {
        border-bottom: solid #97979740 1px;
      }

      .add {
        color: $black1;
        font-weight: bold;
      }
    }

    .meev-input-list2 {
      .header-list {
        border-radius: 5px;
        background-color: $gray1;
        padding: 20px 20px;

        .column-list {
          font-weight: 600;
          font-size: 1em;
          line-height: 1.8em;
        }
      }

      .row-list {
        border-bottom: solid #97979740 1px;
      }

      .add {
        color: $black1;
        font-weight: bold;
      }
    }
  }

  .small-menu {
    font-size: 0.9em;
    font-weight: 500;
  }

  .was-validated {
    .custom-invalid {
      display: block;
    }

    .form-control:invalid,
    .form-control:valid,
    .custom-control-input::before {
      border-color: #cccccc;
      background-image: unset;
    }
  }
}

/* Exception */
.btn-custom {
  font-weight: bold;
  font-size: 1em;
  min-width: 127px;
  min-height: 48px;
  &.btn-primary-custom {
    background-color: $base-red;
    color: $base-white;

    &:hover {
      background-color: $base-red-hover;
    }
  }
  
  &.btn-secondary-custom {
    background-color: $gray1;
    color: $black1;
  }
  
  &.btn-smol {
    min-height: 38px;
  }

  &.btn-primary-custom-holloe {
    background-color: transparent;
    color: $base-red;
    border-color: $base-red;
    border-width: 2px;

    &:hover {
      color:$base-white;
      background-color: $base-red;
      border-color: $base-red;
    }
  }
}

.was-validated .form-control:valid {
  background-image: none;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #content {
    width: 100%;
  }
  #content.active {
    width: calc(100% - 250px);
  }
}
