
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

/* set the overriding variables */
$grid-breakpoints: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px
);

$container-max-widths: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/font-awesome/css/font-awesome.min.css";
@import '../../node_modules/react-toastify/dist/ReactToastify.min.css';
// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
// @import "~@coreui/coreui/scss/coreui.scss";

// If you want to add something do it here
@import "custom";
@import "content";
@import "sidebar";
